<%- include('header.ejs', {title}) %>

<div class="container">
  
  <form action="" method="post">
    <div class="mb-2">
      <label for="id">Id</label>
      <input type="text" class="form-control" id="id" name="id">
    </div>
    <div class="mb-2">
      <label for="first_name">First name</label>
      <input type="text" class="form-control" id="first_name" name="first_name">
    </div>
    <div class="mb-2">
      <label for="last_name">last name</label>
      <input type="text" class="form-control" id="last_name" name="last_name">
    </div>
    <button class="btn btn-primary">New data</button>
  </form>

  <h1><%= message %></h1>

  <div>
  <% for (const row of datadb) { %>
      <li>
        ID: <%= row.id %> —
        Prénom: <%= row.first_name %> —
        Nom: <%= row.last_name %>
      </li>
    <% } %>
  </div> 
</div>

<%- include('footer.ejs') %>
